*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: whitesmoke;
}
nav{
    height: 60px;
    width: 100%;
    background-color: white;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 20px;
    overflow: hidden;
    position: fixed;
    top: 0;
}
#title{
    font-weight: bold;
    border-bottom: 5px solid lightblue;
    letter-spacing: 2px;
}
nav a{
    padding: 30px;
    padding-bottom: 20px;
    text-decoration: none;
    color: black;
    /* color: white; */
}
nav a:hover{
    border-bottom: 1px solid black;
}
.margin{
    margin-left: 14vw;
    margin-right: 14vw;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#container1{
    margin-top: 110px;
}
#cl{
    background-color:rgb(254,117,64);
    height: 65vh;
    min-width: 30vw;
    border-radius: 8px;
}
/* #clt{
    left: 5%;
    bottom: 5%;
    height: 200px;
    width: 90%;
    color: white;
    border-radius: 10px;
} */

#cr{
    background-color: rgb(1,157,169);
    height: 65vh;
    min-width: 38vw;
    border-radius: 8px;
}

#section1{
    margin-top: 50px;
    height: 40vh;
}
#section1 p{
    padding: 20px;
    font-weight: 800;
    font-size: 1.2em;
}

#blue{
    margin-top: 50px;
    background-color: rgb(210,230,232);
    height: 70vh;
}

footer{
    margin-top: 50px;
    min-height: 30vh;
}
.newdiv{
    
}